#newUserTable, #pageTable, #mailUserTable, #mediaTable {
  width: 360px;
  margin: 0 auto;
}

form[name="media_filter"] {
  width: 360px;
  margin: 0 auto;
}

#media_filter_year, #media_filter_month {
  display: inline;
  width: 130px;
}