#movieHeaderImg {
  height: auto;
}

#movie-results {
  list-style-type: none;
}

#hide-all {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('../img/movie/Loader.gif?v1.0.0') no-repeat center;
}

form[name=movie] {
  width: 360px;
  margin: 0 auto;
}
