.wineLabel {
  height: 100px;
}

.wineLabel:hover {
  height: 400px;
}

#tasteProfile {
  width: 200px;
}

#year {
  width: 100px;
}

#filter {
  width: 120px;
}

#dropdownGrapesDivRed, #dropdownGrapesDivWhite {
  display: inline;
}

.dropdown-menu td {
  white-space: nowrap;
}

#filterSortForm .form-control {
  display: inline;
}

.btn.dropdown-toggle {
  border-color: #ced4da;
}
