{% extends '@WineBundle/base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Categories</h1>
    <a href="{{ path('wineCategoryCreate') }}">Create a category</a>
    <table class="table table-striped">
        {% for category in categories %}
            <tr>
                <td>{{ category.getName() }}</td>
                <td><a href="{{ path('wineCategoryEdit', {'id': category.getId()}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
