{% extends 'base.html.twig' %}

{% block title %}Verify{% endblock %}

{% block body %}
    <div class="row text-center">
        <div>{{ message }}</div>
        {% if message != 'Your email is already verified.' %}
            <div>Your email is not verified. Check your inbox or
                <a href="{{ path('verifyAgain', {'send' : 1}) }}">get
                    a verification email</a> again.</div>
        {% endif %}
    </div>
{% endblock %}
