{% extends 'base.html.twig' %}

{% block title %}Verify{% endblock %}

{% block body %}
    {% if success == 1 %}
        <div>Successfully send a verification mail.</div>
    {% elseif success == 2 %}
        <div>Could not send mail.</div>
    {% endif %}
    Your email is not verified. Check your inbox or <a href="{{ path('verifyAgain', {'send' : 1}) }}">get
    a verification email</a> again.
{% endblock %}
