{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('mustVerify') %}
        <div class="flash-notice-must-verify">
            {{ message }}
        </div>
    {% endfor %}
    {{ page.content|raw }}
{% endblock %}
