{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="text-center">
        <h1>Welcome to your leisure site.</h1>
        {% if isLoggedIn %}
            <p>Visit your <a href="{{ path('wineHomepage') }}">wines</a>.</p>
        {% else %}
            <p>Login to visit your <a href="{{ path('wineHomepage') }}">wines</a>.</p>
        {% endif %}
    </div>
{% endblock %}
