{% extends '@WineBundle/base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>Countries</h1>
    <a href="{{ path('wineCountryCreate') }}">Create a country</a>
    <table class="table table-striped">
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td><a href="{{ path('wineCountryEdit', {'id': country.id}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
