{% extends '@AdminBundle/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <a href="{{ path('adminUserCreate') }}">Create a user</a>
    <table class="table table-striped" id="userTable">
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('adminUserEdit', {'id': user.id}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
