{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Mail User{% endblock %}

{% block body %}
    <a href="{{ path('adminMailUserCreate') }}">Create a mail user</a>
    <table class="table table-striped" id="mailUserTable">
        {% for mailUser in mailUsers %}
            <tr>
                <td>{{ mailUser.email }}</td>
                <td><a href="{{ path('adminMailUserEdit', {'id': mailUser.id}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
